<div class="col-lg-4">
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://as2.ftcdn.net/v2/jpg/05/39/15/59/1000_F_539155941_cL1e4pPa9ND3Oz51jcmOgTHmZVkemOpA.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 20%</h6>
            <h3 class="text-white mb-3">Özel Teklifler</h3>
            <a href="" class="btn btn-primary">Alışverişe Başla</a>
        </div>
    </div>
    <div class="product-offer mb-30" style="height: 200px;">
        <img class="img-fluid" src="https://img.freepik.com/premium-photo/wow-sale-happy-man-with-shopping-bag-studio-excited-discount-purchase-white-background-deal-excited-indian-guy-with-product-form-shop-mall-market-while-posing-isolated_590464-161553.jpg" alt="">
        <div class="offer-text">
            <h6 class="text-white text-uppercase">İndirim 30%</h6>
            <h3 class="text-white mb-3">Günün Fırsatı</h3>
            <a href="" class="btn btn-primary">Alışverişe Başla</a>
        </div>
    </div>
</div>
