@model UpdateCategoryDto
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <h4>Kategori Güncelleme Sayfası</h4>
                        <input type="hidden" asp-for="CategoryId"/>
                        <br />
                        <h5>Kategori Adı</h5>
                        <input type="text" class="form-control" asp-for="CategoryName" />
                        <br />
                        <h5>Kategori Görseli</h5>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <button class="btn btn-primary">Kategoriyi Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

