<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/images/adidaslogo.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/nikelogo.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/pierrecardinlogo.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/zaralogo.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/pradalogo.png"alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/burberrylogo.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/images/avonlogo.png" alt="">
                </div
                <div class="bg-light p-4">
                    <img src="~/images/nivealogo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>