@model UpdateFeatureDto

@{
    ViewData["Title"] = "UpdateFeature";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <h4>Öne Çıkan Alan Güncelleme Sayfası</h4>
                        <input type="hidden" asp-for="FeatureId" />
                        <br />
                        <h5>Öne Çıkan Alan Başlığı</h5>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <h5>Öne Çıkan Alan İkonu</h5>
                        <input type="text" class="form-control" asp-for="Icon" />
                        <br />
                        <button class="btn btn-primary">Öne Çıkan Alanı Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


