@model UpdateAboutDto

@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <h4>Hakkımızda Güncelleme Sayfası</h4>
                        <input type="hidden" asp-for="AboutId" />
                        <label>Şirket Hakkında</label>
                        <input type="text" class="form-control" asp-for="Description" />
                        <br />
                        <label>Şirket Adresi</label>
                        <input type="text" class="form-control" asp-for="Address" />
                        <br />
                        <label>Şirket Maili</label>
                        <input type="text" class="form-control" asp-for="Email" />
                        <br />
                        <label>Şirket Telefonu</label>
                        <input type="text" class="form-control" asp-for="Phone" />
                        <br />
                        <button class="btn btn-primary">Hakkımızda Alanını Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
